%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .row
    .input-field.col.s6
      = f.input :user_name, required: true, label: false, placeholder: 'Nome usuário'
    .input-field.col.s6
      = f.input :email, required: true, autofocus: true, label: false, placeholder: 'E-mail'
    .input-field.col.s6
      = f.input :password, label: false, placeholder: 'Senha', required: true, hint: ("minímo #{@minimum_password_length} caracteres" if @minimum_password_length)
    .input-field.col.s6
      = f.input :password_confirmation, required: true, label: false, placeholder: 'Confirmar senha'
    .input-field.col.s6
      = f.input :avatar, as: :file
  .form-actions
    = f.button :submit, "Resgistrar"
